<html>
        <form action = '/a/' method = 'GET'>
            <h2> Ingrese el campo id a actualizar </h2>
            <ilabel type = 'nombre'>id: </ilabel>
            <input type = 'text' name = 'id'> <br>
            <br>
            <br>
            <br>
            <br>
            <h3> Ingrese un nuevo nombre y fecha</h3>
            <ilabel type = 'nombre'>Nombre: </ilabel>
            <input type = 'text' name = 'nombre'> <br>
            <ilabel type = 'nombre'>Fecha de nacimiento: </ilabel>
            <input type = 'text' name = 'fecha'> 
            <ilabel type = 'formato'>(formato: YYYY-MM-DD)</ilabel> <br>
            <br>
            <input type = 'submit' value = 'Actualizar'>
        </form>
        <form action = '/inicio/' method = 'GET'>
            <br>
            <input type = 'submit' value = 'Volver'>
        </form>
        
</html>