<html>
        <form action = '/c/' method = 'GET'>
            <ilabel type = 'nombre'>Nombre: </ilabel>
            <input type = 'text' name = 'nombre'> <br>
            <ilabel type = 'nombre'>Fecha de nacimiento: </ilabel>
            <input type = 'text' name = 'fecha'> 
            <ilabel type = 'formato'>(formato: YYYY-MM-DD)</ilabel> 
            <br>
            <br>
            <input type = 'submit' value = 'Crear'>
        </form>
        <form action = '/inicio/' method = 'GET'>
            <input type = 'submit' value = 'Volver'>
        </form>
</html>
