<html>
    <head>
        <h1 style = 'color: red'> Búsqueda en base de datos</h1>
    </head>

    <body>
        <form action = '/create/'>
            <input type = 'submit' value = 'crear'>
        </form>
        <form action = '/read/'>
            <input type = 'submit' value = 'leer'>
        </form>
        <form action = '/update/'>
            <input type = 'submit' value = 'actualizar'>
        </form>
        <form action = '/delete/'>
            <input type = 'submit' value = 'borrar'>
        </form>
    </body>
</html>


